.App {
  margin: 1%;
}

.label{
  text-align: left;
  margin-left: 15%;
}

.btn-login-register{
  width: 45%;
  display:inline-block;
  margin: auto;
  margin-top:2%;
}

.btn-tasks{
  width: 10%;
  margin: 2%;
  padding: 2%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
}

.btn.save {
  width: 20%;
  margin: 2%;
  padding: 3%;
}

.checkbox{
  margin-top:1%;
  text-align: left;
  margin-left: 15%;
  cursor: pointer;
}

.input{
  width: 70%;
  display: inline-block;
  margin: auto;
}

.header{
  text-align: center;
}

.task.is-complete{
  opacity: 0.5;
}

.task.is-complete .text {
  text-decoration: line-through;
  opacity: 0.7;
}

.text {
  margin-left: 10%;
  width:90%;
}

.title {
  font-size: 125%;
  font-weight: bold;
}

.description{
  font-size: 80%;
}

.footer{
  clear: both;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 99%;
}